/* styles/quiz.module.css */
.quizPageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3f74db; /* 전체 배경 */
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3f74db;
}

.container {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  width: 600px;
  max-width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: #8a8a8a;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.questionBox {
  background-color: #f3f3f3;
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.option {
  cursor: pointer;
  font-size: 15px;
  padding: 6px 10px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.option:hover {
  background-color: #eaeaea;
}

.selected {
  font-weight: bold;
}

.correct {
  color: #1c64f2;
}

.incorrect {
  color: #e74c3c;
}

.button {
  background-color: #e0e0e0;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}

.explanationBox {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 12px 16px;
  border-radius: 10px;
  font-size: 15px;
}

.answerSummary {
  font-weight: bold;
  color: #333;
  margin-bottom: 6px;
}

.explanationHeader {
  font-weight: bold;
  margin-bottom: 4px;
}

.backButton {
  background: transparent;
  color: #f77903;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: left;
}
.backButton:hover {
  text-decoration: underline;
}
